/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM DO RESET */

/* INICIO DAS FONTES */

@font-face {
    font-family: "OpenSans Regular";
    src: url(Font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans Bold";
    src: url(Font/OpenSans-Bold.ttf);
}



@font-face {
    font-family: "Poppins Bold";
    src: url(Font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins Regular";
    src: url(Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(Font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(Font/Roboto-Regular.ttf);
}

/* FIM DAS FONTES */

/* INICIO */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

/* FINAL */

/* INICIO DO CONTATO */

.contato {
    background-color: #106eea;
}

.contato .container {
    justify-content: flex-start;
    height: 30px;
}

.contato .container a {
    font: 500 20px "OpenSans Regular";
    color: #fff;
    margin-right: 40px;
}

/* FIM DO CONTATO */

/* INICIO DO HEADER */

.logo .nome {
    font: 700 40px "Poppins Bold";
}

.menu a {
    font: 500 22px "OpenSans Regular";
    color: #000000;
    margin-left: 60px;
}

/* FIM DO HEADER */

/* INICIO DO INICIO */

.inicio {
    background-image: url(Img/Vitral.png);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.inicio .container {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 400px;
}

.titulo-inicio {
    font: 700 80px "Poppins Bold";
}

.texto-inicio {
    font: 500 40px "Poppins Regular";
}

/* FINAL DO INICIO */

/* INICIO DO TITULO */

.titulo {
    font: 700 40px "Roboto Bold";
    color: #000000;
}

span {
    color: #106EEA;
}

/* FIM DO TITULO */

/* INICIO DO TEXTO */

.texto {
    font: 500 20px "OpenSans Regular"
}

/* FINAL DO TEXTO */

/* INICIO DO SOBRE NÓS */

.conteudo {
    text-align: center;
}

.sobreNos .imagem img {
    width: 500px;
}

.sobreNos .conteudo .texto {
    text-align: justify;
}

.sobreNos .conteudo {
    margin-right: 100px;
}

/* FINAL DO SOBRE NOS */

/* INICIO DAS INFOS */

.infos .quadrados .quadrado img {
    width: 100px;
}

.infos .quadrados {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quadrado {
    background-color: #f1f6fe;
    border: 1px solid #8ca9ce;
    border-radius: 7px;
    text-align: center;
    padding: 15px 20px;
    margin: 0 20px;
    width: 230px;
}

/* FIM DAS INFOS */

/* INICIO DA DIVISÃO */

.divisao {
    background-color: #1150a3;
    height: 2px;
}

/* FIM DA DIVISÃO */

/* INICIO DOS SERVIÇOS */

.servicos .container {
    flex-direction: column;
}

.servico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servico .servico-titulo {
    font: 700 24px "Roboto Bold";
    text-align: center;
}

.servico .servico-nome {
    border: 2px solid #8ca8ce;
    width: 275px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
}

/* FIM DOS SERVIÇOS */

/* INICIO DO TIME */

.equipe .container {
    flex-direction: column;
}

.equipe .pessoas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equipe .pessoas .pessoa {
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 0 25px;
}

.equipe .conteudo .texto {
    text-align: justify;
    margin: 30px 60px;
}

/* FIM TIME */

/* INICIO DOS FORMS */

.formulario .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario .informacoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.endereco {
    width: 250px;
    border: 3px solid #1150a3;
    height: 400px;
    text-align: center;
    padding: 80px 20px;
    margin-right: 20px;
    border-radius: 10px;
}

input {
    height: 60px;
    background-color: #dcdcdc;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 5px 8px;
}

textarea {
    background-color: #dcdcdc;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #106eea;
    color: #fff;
    font: 700 20px "Roboto Bold";
    width: 300px;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 30px 60px;
}

/* FIM DOS FORMS */

main section,
main .conteudo,
.divisao {
    margin-bottom: 80px;
}
